.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}
.formControl.error span {
    color: red;
}
textarea:focus, input:focus
{
    outline: none;
}
.formSummaryError {
    border: solid red 2px;
    padding: 5px;
    color: darkred;
}