.alldialogs {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 20fr;
}

.dialogs_item {
    padding: 0px;
}

.dialog {
    padding: 0px;
}

.message {
    padding: 0px;
}

.dialog img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 0px;
}